<div class="container-fluid">
    <footer class="row row-cols-6 py-4 border-top-0 border-top" style="height: 170px; background-color: #151D20;">

        <div class="col">
        </div>

        <div class="col">
            <ul class="nav flex-column">

                <a class="navbar-brand" style="padding-top: 22px;" href="#">
                    <img src="assets/insomniac-games-logo-dark.svg" alt="" height="30">
                </a>
            </ul>
        </div>

        <div class="col">
            <ul class="nav flex-column">
                <a class="navbar-brand" href="#">
                    <img src="assets/PS_Studios_footer.svg" alt="" height="90">
                </a>
            </ul>
        </div>

        <div class="col">
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0"
                        style="font-weight: bold; color: #c3c3c3; font-family: sans-serif; font-size: 16px;">Burbank
                        Studio</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0"
                        style="color: #c3c3c3; font-family: sans-serif; font-size: 16px;">2255 N Ontario St.</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0"
                        style="color: #c3c3c3; font-family: sans-serif; font-size: 16px;">Suite 550</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0"
                        style="color: #c3c3c3; font-family: sans-serif; font-size: 16px;">Burbank, CA 91504</a></li>
            </ul>
        </div>

        <div class="col">
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0"
                        style="font-weight: bold; color: #c3c3c3; font-family: sans-serif; font-size: 16px;">Durham
                        Studio</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0"
                        style="color: #c3c3c3; font-family: sans-serif; font-size: 16px;">7806 NC Highway 751</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0"
                        style="color: #c3c3c3; font-family: sans-serif; font-size: 16px;">Suite 300</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0"
                        style="color: #c3c3c3; font-family: sans-serif; font-size: 16px;">Durham, NC 27713</a></li>
            </ul>
        </div>

        <div class="col">
        </div>

    </footer>
</div>