<div class="container-fluid">
    <footer class="row row-cols-6 py-4 border-top-0 border-top ig-bottomfooterbg">

        <div class="col">
        </div>

        <div class="col">
            <ul class="nav flex-column">

                <a class="navbar-brand ig-footer-logo" href="#">
                    <img src="assets/insomniac-games-logo-dark.svg" alt="" height="30">
                </a>
            </ul>
        </div>

        <div class="col">
            <ul class="nav flex-column">
                <a class="navbar-brand">
                    <img src="assets/PS_Studios_footer.svg" alt="" height="90">
                </a>
            </ul>
        </div>

        <div class="col">
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a class="nav-link p-0 ig-footer-text-header">Burbank Studio</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 ig-footer-text">2255 N Ontario St.</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 ig-footer-text">Suite 550</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 ig-footer-text">Burbank, CA 91504</a></li>
            </ul>
        </div>

        <div class="col">
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a class="nav-link p-0 ig-footer-text-header">Durham Studio</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 ig-footer-text">7806 NC Highway 751</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 ig-footer-text">Suite 300</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 ig-footer-text">Durham, NC 27713</a></li>
            </ul>
        </div>

        <div class="col">
        </div>

    </footer>
</div>