<div class="container-fluid" style="background-color: #699ba4; padding-top: 100vh;">
    <footer class="row row-cols-6 py-5 border-top border-top-0" style="height: 420px; background-color: #293237;">

        <div class="col">
        </div>

        <div class="col">
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="font-weight: bold; color: #699ba4; font-family: sans-serif; font-size: 16px;">Games</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #699ba4; font-family: sans-serif; font-size: 16px;">Marvel's Spider-Man</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #699ba4; font-family: sans-serif; font-size: 16px;">Stormland</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #699ba4; font-family: sans-serif; font-size: 16px;">The Unspoken</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #699ba4; font-family: sans-serif; font-size: 16px;">Ratchet & Clank (PS4)</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #699ba4; font-family: sans-serif; font-size: 16px;">Edge of Nowhere</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #699ba4; font-family: sans-serif; font-size: 16px;">Sunset Overdrive</a></li>
            </ul>
        </div>

        <div class="col">
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="font-weight: bold; color: #699ba4; font-family: sans-serif; font-size: 16px;">Careers</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #699ba4; font-family: sans-serif; font-size: 16px;">Working At Insomniac</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #699ba4; font-family: sans-serif; font-size: 16px;">Job Openings</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #699ba4; font-family: sans-serif; font-size: 16px;">Moonlighting</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #699ba4; font-family: sans-serif; font-size: 16px;">Baker's Dozen</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #699ba4; font-family: sans-serif; font-size: 16px;">Career Inquiries</a></li>
            </ul>
        </div>

        <div class="col">
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="font-weight: bold; color: #699ba4; font-family: sans-serif; font-size: 16px;">Community</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #699ba4; font-family: sans-serif; font-size: 16px;">Press & Media</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #699ba4; font-family: sans-serif; font-size: 16px;">Discord</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #699ba4; font-family: sans-serif; font-size: 16px;">Twitter</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #699ba4; font-family: sans-serif; font-size: 16px;">Facebook</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #699ba4; font-family: sans-serif; font-size: 16px;">Instagram</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #699ba4; font-family: sans-serif; font-size: 16px;">Reddit</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #699ba4; font-family: sans-serif; font-size: 16px;">YouTube</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #699ba4; font-family: sans-serif; font-size: 16px;">Twitch</a></li>
            </ul>
        </div>

        <div class="col">
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="font-weight: bold; color: #699ba4; font-family: sans-serif; font-size: 16px;">Contact Us</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #699ba4; font-family: sans-serif; font-size: 16px;">Game Support</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #699ba4; font-family: sans-serif; font-size: 16px;">Terms Of Use</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: #699ba4; font-family: sans-serif; font-size: 16px;">Privacy Policy</a></li>
            </ul>
        </div>

        <div class="col">
        </div>

    </footer>
</div>