<div class="container-fluid">
    <footer class="row row-cols-6 py-5 border-top" style="background-color: #293237;">

        <div class="col">
        </div>

        <div class="col">
            <h5>Games</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Marvel's Spider-Man</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Stormland</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">The Unspoken</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Ratchet & Clank (PS4)</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Edge of Nowhere</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Sunset Overdrive</a></li>
            </ul>
        </div>

        <div class="col">
            <h5>Careers</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Working At Insomniac</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Job Openings</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Moonlighting</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Baker's Dozen</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Career Inquiries</a></li>
            </ul>
        </div>

        <div class="col">
            <h5>Community</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Press & Media</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Discord</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Twitter</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Facebook</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Instagram</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Reddit</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">YouTube</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Twitch</a></li>
            </ul>
        </div>

        <div class="col">
            <h5>Contact Us</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Game Support</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Terms Of Use</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Privacy Policy</a></li>
            </ul>
        </div>

        <div class="col">
        </div>

    </footer>
</div>