<div class="container-fluid">
    <footer class="row row-cols-6 py-5 border-top border-top-0 ig-footerbg">

        <div class="col">
        </div>

        <div class="col">
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 header" >Games</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Marvel's Spider-Man</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Stormland</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">The Unspoken</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Ratchet & Clank (PS4)</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Edge of Nowhere</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Sunset Overdrive</a></li>
            </ul>
        </div>

        <div class="col">
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 header">Careers</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Working At Insomniac</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Job Openings</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Moonlighting</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Baker's Dozen</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Career Inquiries</a></li>
            </ul>
        </div>

        <div class="col">
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 header">Community</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Press & Media</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Discord</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Twitter</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Facebook</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Instagram</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Reddit</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">YouTube</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Twitch</a></li>
            </ul>
        </div>

        <div class="col">
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 header">Contact Us</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Game Support</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Terms Of Use</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Privacy Policy</a></li>
            </ul>
        </div>

        <div class="col">
        </div>

    </footer>
</div>