<div class="row">
    <div class="col-2"></div>
    <div class="col-10">
        <div class="card width mb-3">
            <div class="row g-0">
                <div class="col-3">
                    <img src="/assets/Strangelets.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-9">
                    <div class="card-body">
                        <h5 class="card-title size">Insomniac Games Announces Strangelets for Magic Leap</h5>
                        <p class="card-text">
                            Welcome to Strangelets, the alien husbandry experience you have been
                            waiting for, by Insomniac Games for Magic Leap.
                        </p>
                        <div class="row">
                            <div class="col-4">
                                <div class="d-grid gap-2">
                                    <a class="btn btn-primary learnmore" href="#" role="button">LEARN MORE</a>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>