<div class="background">

    <ig-topnavbar>Loading...</ig-topnavbar>
    <!-- <ig-video>>Loading...</ig-video> -->

    <div class="container-fluid justify-content-center d-flex">
        <div *ngFor="let game of games">
            <ig-smcard class="my-2" 
                img={{game.img}} 
                game={{game.game}} 
                description={{game.description}}>
                Loading...
            </ig-smcard>
        </div>
    </div>

    <div class="justify-content-center d-flex">
        <ig-careercard>Loading...</ig-careercard>
        <ig-careercard>Loading...</ig-careercard>
    </div>


    <ig-footer>Loading...</ig-footer>
    <ig-bottom-footer>Loading...</ig-bottom-footer>

</div>