.cardwidth{
    width:25rem;
}
.learnmore{
    background-color:#48707a; 
    border-radius:30px;
}

.header{
    font-size: 25px;
    color: #404040;
    font-family: sans-serif;
}

.borders{
    margin-left: 15px;
    margin-right: 15px;
}

.cardlink{
    position:absolute;
    width:100%;
    height:100%;
    top: 0;
    left: 0;
}