<div class="row">
    <div class="col-8"></div>
    <div class="col-3">
        <div class="card cardwidth borders">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <img src="/assets/LatestVideos.png" class="card-img-top">
                    <div class="card-body text-col">
                        <html>&nbsp;</html>
                        <div>
                            <p class="text-align">Hot Wing Mario Kart Challenge!</p>
                        </div>
                        <html>&nbsp;</html>
                        <div>
                            <p class="text-align">Spider-Man Q&A with creative director Bryan Intihar</p>
                        </div>
                        <html>&nbsp;</html>
                        <div>
                            <p class="text-align">PUBG - goin for the chicken dinner with CEO Ted Price</p>
                        </div>
                        <html>&nbsp;</html>
                        <div>
                            <p class="text-align">Resistance 3 with creative director Marcus Smith</p>
                        </div>
                    </div>
                    <a class="cardlink" href="#"></a>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>